# Supervised methods

Preparing data

In [1]:
# Common imports
import os
import glob
import numpy as np
import pandas as pd
import xarray as xr
from utils import * 
from utils_ml import *

In [2]:
# Paths
os.getcwd() 
DATADIR = '/Users/noeliaotero/Documents/CAS_ML/data/'

# Some constants
DATE_START = '1979-01-01'
DATE_END = '2020-12-31'

In [3]:
DATADIR

'/Users/noeliaotero/Documents/CAS_ML/data/'

In [4]:
DIRCSV  = DATADIR + 'TS_CH/'
l_files = glob.glob(os.path.join(DIRCSV, 'df*.csv'))
df_vars =  read_csv_files(l_files, DATE_START, DATE_END)
df_vars.describe

<bound method NDFrame.describe of              date        1000         850        700        500        300  \
0      1979-01-01   670.47250  13147.5720  27538.084  51563.137  85408.290
1      1979-01-02  1956.03480  14132.2560  28140.230  51360.200  84393.940
2      1979-01-03  1836.24610  14219.6140  28574.281  52375.900  86106.790
3      1979-01-04   713.62290  13306.5000  28061.512  52525.293  86493.560
4      1979-01-05  1251.92100  13966.7910  28859.885  53412.040  87216.220
...           ...         ...         ...        ...        ...        ...
15336  2020-12-27   352.08014  13172.3960  28179.588  53228.867  88139.080
15337  2020-12-28 -1099.45190  11721.3960  26578.895  51061.465  84758.580
15338  2020-12-29  -310.72968  12528.1090  27348.270  51634.080  84954.390
15339  2020-12-30   575.76044  13345.1850  28083.260  52228.586  85529.125
15340  2020-12-31   719.40370  13492.9375  28310.188  52718.150  86304.960

              MSL   T2MMEAN
0      1009.09700  -9.09492
1      1026.47890 -16.21680
2      1024.08980 -13.92896
3      1009.13220 -13.54580
4      1015.91220 -12.99600
...           ...       ...
15336  1004.52890  -6.79212
15337   986.39984  -3.55503
15338   996.18420  -3.35328
15339  1007.27516  -5.37660
15340  1009.08950  -6.11320

[15341 rows x 8 columns]>

In [5]:
# read precipitaion
df_prec = get_precipitation_data ( DATADIR + 'TS_CH/precip_regions.csv', DATE_START, DATE_END)
# Select the right columns: date and reg_tot (all country)
df_prec = df_prec[['date','reg_tot']]

In [6]:
# Merge everything
l_all = []
l_all.append(df_vars)
l_all.append(df_prec)
df_input = concat_dataframes(l_all)

Prepare the data

In [7]:
yy_train = [1979,2015]
yy_test  = [2016,2020]
attributes = df_vars.columns[1:8]
ylabel = df_prec.columns[1]

In [8]:
train_dataset, train_labels, test_dataset, test_labels, train_dates, test_dates = split_data(df_input, yy_train, yy_test, attributes, ylabel)
train_dataset

,1000,850,700,500,300,MSL,T2MMEAN
0,670.4725,13147.5720,27538.084,51563.137,85408.290,1009.09700,-9.09492
1,1956.0348,14132.2560,28140.230,51360.200,84393.940,1026.47890,-16.21680
2,1836.2461,14219.6140,28574.281,52375.900,86106.790,1024.08980,-13.92896
3,713.6229,13306.5000,28061.512,52525.293,86493.560,1009.13220,-13.54580
4,1251.9210,13966.7910,28859.885,53412.040,87216.220,1015.91220,-12.99600
...,...,...,...,...,...,...,...
13509,2574.1172,15820.1750,31238.965,56673.836,91952.550,1031.60170,-1.63175
13510,2341.0386,15606.1300,31090.700,56641.086,92014.590,1028.72700,-1.98650
13511,2294.6145,15423.5100,30689.750,55916.074,91049.170,1028.37980,-1.61298
13512,2159.8462,15197.5625,30453.406,55788.844,91222.450,1026.89266,-1.83560
13513,2038.4213,15065.1610,30217.328,55435.207,90634.805,1025.35120,0.04380

In [13]:
X_prep_train = prepareData(train_dataset)
X_prep_train.shape

(13514, 7)

In [11]:
X_prep_test = prepareData(test_dataset)

In [12]:
X_prep_test.shape

(1827, 7)